Focusing on the data management part of the FX notebook

In [1]:
import pandas as pd   
import numpy as np
import matplotlib.pylab as plt
from datetime import datetime as dt

%matplotlib inline

In [2]:
dtm = lambda x: dt.strptime(str(x), "%d/%m/%Y")
#This helps create Pandas time series based on the format of the dates in the file

In [3]:
df1 = pd.read_csv('EURUSD.csv', header=0, parse_dates=[0], index_col='date',date_parser=dtm)
df2 = pd.read_csv('EURGBP.csv', header=0, parse_dates=[0], index_col='date',date_parser=dtm)
# We load the two time series in separate dataframes (we need to deal with possibly different dates)

df1.head()
# first lines of data

             EURUSD
date
2000-01-03  0.97625
2000-01-04  0.97110
2000-01-05  0.96885
2000-01-06  0.96820
2000-01-07  0.97130

In [4]:
df = pd.concat([df1, df2],axis=1)  # Joining the two DataFrames keeping the same index
df.head()

             EURUSD   EURGBP
date
2000-01-03  0.97625  1.59750
2000-01-04  0.97110  1.58875
2000-01-05  0.96885  1.59145
2000-01-06  0.96820  1.59470
2000-01-07  0.97130  1.59225

In [5]:
df = df.fillna(method='pad')  
# Correct for cases when there was a value for a date in a series but not in the other. We just repeat the previous
df_rf = np.log ( df.pct_change() + 1.0)
# We calculate the log returns (slightly convoluted way, but works efficiently)
df_rf.head()

              EURUSD    EURGBP
date
2000-01-03       NaN       NaN
2000-01-04 -0.005289 -0.005492
2000-01-05 -0.002320  0.001698
2000-01-06 -0.000671  0.002040
2000-01-07  0.003197 -0.001538

In [6]:
df_rf.drop(df_rf.index[0], inplace=True)
# The return calculation loses one value, which appears as NaN
df_rf.head()

              EURUSD    EURGBP
date
2000-01-04 -0.005289 -0.005492
2000-01-05 -0.002320  0.001698
2000-01-06 -0.000671  0.002040
2000-01-07  0.003197 -0.001538
2000-01-10  0.003853  0.002791